
body {
  border: 0;
  margin: 20px;
  font-family: "Lucida Handwriting", "Courier New", Arial;
  font-size: 18px;
  /* background-color: #9c9090; */
  background: var(--body-bg);
  color: var(--body-color);
}

h1 {
  color: #f9f3c3;
  text-align: center;
}
h1 span {
  color: #fda9a9;
}
h3 {
  text-align: center;
}
.style {
  font-style: italic;
  color: red;
} 

ul{
  background-color: blue;
}

/* Light mode */
@media (prefers-color-scheme: light) {
   :root {
       --body-bg: #FFFFFF;
       --body-color: #000000;
   }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
   :root {
       --body-bg: #000000;
       --body-color: #FFFFFF;
   }
}